# Binaries and build outputs
main.exe
main
*.o
*.obj
*.exe

# Simulation results and generated VTK data
simulation_results/
output*/
*.vtu

# IDE/Editor files
.vscode/
.idea/
*.suo
*.user

# Custom run results
cpp_results/
cpp_vtk_results/
python_results/
cpp_test_config.yaml
cpp_vtk_test_config.yaml
python_test_config.yaml
